*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.page{
    width: 1100px;
    margin: 0 auto;
    padding-top:65px;
}


nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

ul{
    
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 28px;
    border-bottom: 4px;
}

li a{
    color: black;
    opacity: 1;
    font-weight: 500;
}

li a:hover{
    transition: all 0.5s;
    border-bottom: 1px solid black;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotipo{
    width: 100px;
}

h1,ul{
    font-family: 'mulish' sans-serif;
}

h1{
font-size: 49px;
    line-height: 50px;
    color: #1F1534;
    font-weight: 400;
    width: 490px;
}

.versace{
    width: 400px;
    height: 430px;
}

.versace{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

section p {
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    margin: 40px 0;
}

.btn{
    display: flex;
    gap: 10px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

button:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 65px;
    background-color:black;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color:#ffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container p {
    margin: 0;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: gold;
}